# 1. Virtual Environments and Dependencies Folders
# -----------------------------------------------
.venv
venv
env
# Conda environments
.conda
.direnv
# Package cache and build files
build/
dist/
__pycache__/
*.egg-info/
.pytest_cache/

# 2. Data Files and Logs (SHOULD NOT BE VERSIONED)
# --------------------------------------------------------
# Common data file types:
*.csv
*.tsv
*.xlsx
*.parquet
*.json
*.sas7bdat
*.dta
*.pkl
*.feather
# Large zip/compressed files
*.zip
*.gz
*.tar.gz

# Execution logs:
*.log
logs/
temp/
tmp/

# 3. Machine Learning and MLflow Artifacts
# --------------------------------------------------------
# Saved (trained) models:
*.h5
*.hd5
*.joblib
*.pickle
*.pt
*.tf
models/
artifacts/

# MLflow tracking files:
mlruns/
mlruns/
mlruns/*

# 4. IDE Configurations (e.g., VS Code, PyCharm)
# --------------------------------------------------------
.idea/
.vscode/

# 5. Notebooks and Outputs (Ensure data output is ignored)
# --------------------------------------------------------
# Ignores all notebook checkpoints
.ipynb_checkpoints

# Temporary and swap files:
*~
*.swp

# 6. Specific System Files
# --------------------------------------------------------
.DS_Store # macOS metadata files
Thumbs.db # Windows metadata files

# 7. Sensitive Configuration Files (Credentials, Keys, etc.)
# ------------------------------------------------------------------
.env
.apikey
config/secrets.yaml